 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)  { 
    .t-logo{
        text-align: center;
        font-size: 80px;
   
    }
    .menu{
   margin-left:70px;
    }
    .menu ul{
        display: block;
       justify-content: center;
        
       }
       .menu ul li{
        display: block;
        border-radius: 30px;
        border:2px solid rgb(173, 126, 126);
        text-align: center;
        width:70%;
        transition: 1s linear;
       }
       .menu ul li:hover{
        background-color: rgb(73, 70, 70);
      
       }
       /* Hero */
       .ab-main{
        padding: 50px 0;
       }
       .about{
        padding: 0 ;
       }
       .h_text{
        padding: 100px 0px;
    }
    .ic2{
        bottom: 20px;
    }
    .icon img{
        width:60px;
        transition: .33s linear;
    }
    .ic1:hover{
        transform: rotate(360deg);
        top: 30px;
    }
    .ic2:hover{
        transform: rotate(360deg);
        bottom: 20px;
    }
    h2{
        font-size: 35px;
        margin: 0 0 10px;
    }
    h3{
        font-size: 27px;
        margin: 0 0 16px;
    }
    h4{
        font-size: 20px;
        margin: 1px 0 26px;
    }
    p{
        font-size: 14px;
    }
       /* Hero End */
    /* About */
    h1{   
        font-size: 35px;    
    }
    .hori{
        border: 6px dotted rgb(34, 34, 34);
        border-bottom: none;
        margin: 20px auto 45px;
        width: 60px;
    }
    .ab_img img{
        border:5px solid rgb(109, 108, 108);
        border-radius:40%;
        width:160px;
        margin: 0  0 50px ;   
    }
    /* About End */
    /* card */
    .c-single{
        background-color: rgb(153, 188, 192);
        border-radius: 50px;
        transition: .33s linear;
        margin: 50px auto 0;
        box-shadow: 3px 3px 10px 3px gray;
    }
    .c-head{
        font-size: 30px;
        
    }
    .c-img img {
        padding: 13px 13px;
        margin: 15px 85px 0;
        width: 75px;
        border-radius: 1000px;
        border: 3px solid rgb(109, 108, 108);
    }
    .anim ul li::before{
        
        height: 20px;
 
    }
 
    .anim ul li::after{
        height: 20px;
        
    }
    .anim ul li{
        list-style: none;
        font-size: 1rem;
        text-transform: uppercase;
        position: relative;
        margin-top: 30px;
        font-weight: 500;
    }
    .skil-img{
        margin:0 ;
    }
    .anim ul {
        padding:0;
    }
    .pad-100{
        padding-bottom: 100px;
    }
    /* card end */
    /* footer */
    .footer{
      
    }
    /* footer end */
   
    /* social end */
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .t-logo{
        text-align: center;
        font-size: 80px;
    }
    .menu{
   margin-left:65px;
    }
    .menu ul{
        display: block;
       justify-content: center;
        
       }
       .menu ul li{
        background-color: rgb(138, 96, 96);
        display: block;
        border-radius: 30px;
        border:2px solid rgb(173, 126, 126);
        text-align: center;
        width:70%;
        transition: 1s linear;
       }
       .menu ul li:hover{
        background-color: rgb(73, 70, 70);
      
       }
          /* Hero */
          .h_text{
            padding: 100px 40px;
        }
        .ic2{
            bottom: 20px;
        }
        .icon img{
            width:80px;
            transition: .33s linear;
        }
        .ic1:hover{
            transform: rotate(360deg);
            top: 30px;
        }
        .ic2:hover{
            transform: rotate(360deg);
            bottom: 20px;
        }
        h2{
            font-size: 50px;
            margin: 0 0 10px;
        }
        h3{
            font-size: 40px;
            margin: 0 0 16px;
        }
        h4{
            font-size: 30px;
            margin: 1px 0 26px;
        }
           /* Hero End */
               /* About */
        .jt-ct{
            margin:0 auto;
        }
        .about{
            padding: 0;
        }
    .hori{
        border: 6px dotted rgb(34, 34, 34);
        border-bottom: none;
        margin: 20px auto 45px;
        width: 60px;
    }
    .ab_img img{
        width:200px;
        margin: 0  0 30px ;   
    }
    
    /* About End */
    /* card */
    .c-img img {
        padding: 13px 13px;
        margin: 15px 174px 0;
        width: 75px;
        border-radius: 1000px;
        border: 3px solid rgb(109, 108, 108);
    }
    .c-single{
    
        margin: 50px auto 0;
       
    }
    .skil-img{
        margin:0 1px;
    }
    /* card end */
   
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
     /* Hero */
     .h_text{
        padding: 100px 60px;}
 
    /* hero end */
                 /* About */
                    
                 .hori{
                    border: 6px dotted rgb(34, 34, 34);
                    border-bottom: none;
                    margin: 20px auto 45px;
                    width: 60px;
                }
                .ab_img img{
                    width: 230px;
                    margin: 0  auto 30px ;   
                }
              
                /* aboutend */
                  /* card */
    .c-single{
    
        margin: 50px auto 0;
    }
    .c-img img {
        margin: 15px 183px 0;
    }
    .skil-img{
        margin:0 ;
    }
    .anim ul li::before{
        
        height: 25px;
 
    }
    .anim ul li::after{
        height: 25px;
        
    }
    .anim ul li{
        list-style: none;
        font-size: 1.1rem;
        text-transform: uppercase;
        position: relative;
        margin-top: 35px;
        font-weight: 600;
    }
     /* card end */
  }  

 /* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
         /* Hero */
         .h_text{
            padding: 100px 211px;
        }
        /* hero end */
 }

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {

}